<form (ngSubmit)="handleAuthSubmit()" [formGroup]="authForm">
    <mat-card class="auth--form-card">
        <h2>Login</h2>
        <div class="image-container">
            <img [src]="src" alt="Panda Image" />
        </div>
        <section>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    type="email"
                    matInput
                    formControlName="email"
                    placeholder="Ingresa tu correo electronico">
                <mat-error *ngIf="authForm.controls.email.hasError('email') && !authForm.controls.email.hasError('required')">
                    Ingresa un correo valido
                </mat-error>
                <mat-error *ngIf="authForm.controls.email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contraseña</mat-label>
                <input
                    type="password"
                    matInput
                    formControlName="password"
                    placeholder="Ingresa tu contraseña">
                <mat-error *ngIf="authForm.controls.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </section>
    </mat-card>
</form>